<%- include("./partials/header", {title : "Page d'inscription",style : "auth"})
%>
<h1>Page d'inscription</h1>
<% if (locals.error) { %>
<div class="error">
  <p><%= error %></p>
</div>
<% } %> <% if (locals.userError) { %>
<div class="error">
  <p><%= userError %></p>
  <a href="/user/login">Connexion</a>
</div>
<% } %>
<form class="form" action="/user/signup" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="email" name="email" id="email" />
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" name="password" id="password" />
  </div>
  <button type="submit">Inscription</button>
</form>
<%- include("./partials/footer") %>
